* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #1f3b5b00;
  border-radius: 20px;
  width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #1f3b5b;
  width: 10px;
  border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ddf0f5;
  border-radius: 20px;
  width: 10px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #87b6e1;
  padding: 10px;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/21/09/02/clouds-2085112_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgb(217, 255, 253);
  height: 90vh;
  width: 80vw;
  border-radius: 20px;
  overflow: hidden;
}
.popus {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  max-height: 0vh;
  height: 100%;
  transition: all 5s;
  left: 30vw;
  background: none;
}

.modal {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.amongus img {
  position: absolute;
  display: flex;
  max-height: 0vh;
  height: 100%;
  transition: all 5s;
  z-index: 4;
  left: 0;
  top: 0;
}

.modal .popup_box {
  display: flex;
  flex-direction: column;
  background-color: #f1fcff;
  border-radius: 20px;
  height: 30vw;
  width: 30vw;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #87b6e1;
  gap: 15px;
}

.modal .popup_box .search {
  border: none;
  background-color: white;
  height: 10%;
  width: 80%;
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.452);
}

.modal .popup_box .background_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 80%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.452);
}

.modal .popup_box .background_image .background-image {
  z-index: 4;
}

.background_image .img_conent {
  display: flex;
  flex-direction: column;
}

.modal .popup_box .add_city_btn {
  background-color: #1f3b5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 25%;
  height: 10%;
  color: white;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  background-color: #ddf0f5;
  padding: 5%;
  padding-right: 1%;
  overflow: scroll;
  overflow-x: hidden;
}

.left .menu {
  display: flex;
  position: relative;
  width: fit-content;
}

.left .menu .recomends {
  display: none;
  flex-direction: column;
  background-color: #d9d9d9e0;
  border-radius: 5px;
  height: fit-content;
  width: 100%;
  top: 100%;
  position: absolute;
  z-index: 1;
}

.left .menu .recomends p {
  color: black;
  padding: 10px;
  border: 0.2px solid rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  transition: 0.3s all;
  cursor: pointer;
}

.left .menu .recomends p:hover {
  background-color: #87b6e1;
}

.allplaces {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
  display: flex;
}

.dropbtn {
  display: flex;
}

.drop {
  position: relative;
  display: inline-flex;
  transform: none;
}

.drop_content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #365b7d;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 10px;
  overflow: hidden;
}

.drop_content a {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.5s all;
  cursor: pointer;
}

.drop_content a:hover {
  background-color: #87b6e1;
  color: black;
}

.drop:hover .drop_content {
  display: flex;
  left: 80px;
  margin-top: -12px;
}

.left .menu .search {
  display: flex;
  background-color: antiquewhite;
}

.left .menu .search input {
  background: none;
  border: none;
  outline: none;
  width: 25vw;
}

.left .text {
  font-size: 35px;
}
.gif{
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
.gif-visible{
  display: block;
}
.left .images {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 18px;
  flex-shrink: 0;
  overflow: scroll;
  overflow-y: hidden;
  height: 230px;
}

.left .images img {
  width: 140px;
  height: 160px;
  border-radius: 10px;
}

.left .images .selected_city img {
  width: 155px;
  height: 175px;
  border-radius: 10px;
  transform: none;
}

.left .images .selected_city p {
  font-size: 22px;
  transform: none;
}

.left .images .add {
  display: flex;
  display: table-column;
  width: 140px;
  height: 160px;
  border: 1px solid #1f3b5b;
  border-radius: 10px;
  flex-shrink: 0;
}

.left .images .add a {
  display: flex;
  justify-content: center;
}

.left .images .add .plus {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin-top: 20px;
}

.left .weather {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100%;
}

.left .weather .time {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.left .weather .time .active {
  color: black;
}

.charts {
  display: none;
  margin-top: 30px;
  font-size: 10px;
  justify-content: space-between;
}
.chart_visible{
  display: flex;
}

.left .weather .charts .days_chart {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.left .weather .charts .days_chart p {
  padding-bottom: 20px;
}
.left .weather .charts .umidity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.left .weather .charts .procent {
  display: flex;
  padding-bottom: 20px;
}
.procent {
  display: flex;
  flex-direction: row;
}
.umidity {
  display: flex;
  flex-direction: column;
}

.left .weather .charts .storm {
  display: flex;
  flex-direction: column;
}

.left .weather .charts .storm img {
  padding-bottom: 20px;
}

.left .weather .charts .chart_bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left .weather .charts .chart1 {
  display: flex;
}

.left .weather .charts .chart_bar {
  background-color: #d9d9d9;
  width: 214px;
  height: 9px;
  border-radius: 5px;
}

.left .weather .charts .chart_bar .filled_chart_bar {
  width: 70px;
  height: 9px;
  background-color: #ea3b3b;
  position: absolute;
  left: 0;
  border-radius: 5px;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #1f3b5b;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.right .text {
  color: beige;
  justify-content: space-between;
  z-index: 2;
}

.right .background {
  position: absolute;
  width: 80%;
  top: 280px;
  left: 75px;
}

.right .background2 {
  position: absolute;
  width: 50%;
  top: 80px;
  left: 165px;
}

.right .text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.right .text a {
  display: flex;
  gap: 5px;
  padding-top: 50px;
}

.right .text .notification {
  display: flex;
  background-color: red;
  height: 20px;
  width: 20px;
  justify-content: center;
  border-radius: 5px;
}

.right .text .profile_pic img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 35px;
}

.right .text .red_dot {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: -55px;
  right: -35px;
  position: absolute;
  position: relative;
}

.right .temperature {
  z-index: 2;
  display: flex;
  justify-content: center;
  color: white;
  gap: 5px;
  margin-top: 80px;
  font-size: 16px;
}

.right .temperature .day {
  display: flex table-column;
}

.right .weather {
  display: flex table-column;
}

.right .temperature .day h3 {
  font-size: 16px;
}

.right .weather .grades {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
}

.right .weather .grades h1 {
  font-size: 150px;
  z-index: 2;
}

.right .weather .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.right .weather .location .remove_container {
  display: flex;
}

.right .weather .location .trash {
  z-index: 6;
  cursor: pointer;
}

.right .weather .charts {
  margin-top: 60px;
  display: flex;
}

.right .weather .charts .text {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.right .weather .charts .chance {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.right .weather .charts .lines {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 10px;
  align-items: baseline;
}

.right .weather .charts .lines .chart1 .line1 {
  background-color: #365b7d;
  border-radius: 10px;
  height: 80px;
  width: 10px;
}

.right .weather .charts .lines .chart2 .line2 {
  background-color: yellow;
  border-radius: 10px;
  height: 120px;
  width: 10px;
}

.right .weather .charts .lines .chart3 .line3 {
  background-color: #365b7d;
  border-radius: 10px;
  height: 100px;
  width: 10px;
}

.right .weather .charts .lines .chart4 .line4 {
  background-color: #365b7d;
  border-radius: 10px;
  height: 60px;
  width: 10px;
}

.right .weather .charts .lines .chart1 {
  color: white;
  font-size: 8px;
  gap: 5px;
}

.right .weather .charts .lines .chart2 {
  color: white;
  font-size: 8px;
  gap: 5px;
}

.right .weather .charts .lines .chart3 {
  color: white;
  font-size: 8px;
  gap: 5px;
}

.right .weather .charts .lines .chart4 {
  color: white;
  font-size: 8px;
  gap: 5px;
}

.right .background path {
  fill: red;
}

.images .another_city {
  transition: 0.5s all;
  cursor: pointer;
  padding-left: 10px;
}

.images .another_city:hover {
  transform: scale(1.1);
  margin-top: 10px;
  font-weight: 600;
}

.images .plus {
  transition: 0.5s all;
  cursor: pointer;
}

.images .plus:hover {
  transform: scale(1.5) rotate(90deg);
  margin-left: 10px;
}

.allplaces .arrow {
  transition: 0.5s all;
  cursor: pointer;
}

.allplaces:hover .arrow {
  transform: rotate(-90deg);
  margin-top: -6px;
  margin-left: 6px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.locatie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  body {
    padding: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    height: 95vh;
    width: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .left {
    flex: 0.7;
  }
  .right {
    flex: 0.3;
    overflow: unset;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .left .menu .allplaces {
    align-self: flex-end;
    width: 30%;
    height: 30%;
  }
  .left .menu .recomends {
    top: 55vh;
    right: 50vw;
  }
  .allplaces .arrow {
    transform: rotate(-90deg);
    transition: 0.5s all;
    cursor: pointer;
  }
  .drop{
    margin-left: 115px;
  }
  .allplaces:hover .arrow {
    transform: rotate(0deg);
    margin-top: 1 px;
  }
  .drop:hover .drop_content {
    display: flex;
    flex-direction: column;
    left: -10px;
    top: 50px;
  }
  .left .menu .search {
    height: auto;
  }
  .left .text {
    font-size: 25px;
    margin-top: -25px;
  }
  .left .menu .search {
    width: 220%;
  }
  .left .images {
    overflow: scroll;
    width: auto;
    height: 207.9px;
    gap: 15px;
  }
  .modal .popup_box {
    height: 45vh;
    width: 90vw;
  }
  .left .images .selected_city img {
    height: 145px;
    width: 125px;
  }
  .left .images .add {
    width: 110px;
    height: 130px;
    border: 1px solid #1f3b5b;
    border-radius: 10px;
    flex-shrink: 0;
  }
  .left .images .add .plus {
    font-size: 65px;
  }
  .left .images .another_city img {
    height: 130px;
    width: 110px;
  }
  .left .weather {
    font-size: 7px;
  }
  .left .weather .time {
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
  }
  .left .weather .charts {
    justify-content: space-between;
  }
  .left .weather .charts .days_chart {
    padding-bottom: 5px;
  }
  .left .weather .charts .days_chart p {
    padding-bottom: 10px;
  }
  .left .weather .charts .procent {
    padding-bottom: 10px;
  }
  .left .weather .charts .storm img {
    padding-bottom: 10px;
  }
  .left .weather .charts .chart1 {
    padding-bottom: 10px;
  }
  .left .weather .charts .chart1 .chart_bar {
    width: 100px;
    height: 7px;
  }
  .left .weather .charts .chart1 .chart_bar .filled_chart_bar {
    width: 20px;
    height: 7px;
    left: 65%;
    position: relative;
  }
  .right .weather .charts {
    display: none;
  }
  .right .weather {
    font-size: 15px;
    margin-top: -80px;
  }
  .right .weather .grades h1 {
    font-size: 120px;
  }
  .right .background {
    display: none;
  }
  .right .background2 {
    width: 60%;
    height: 60%;
    top: 20%;
    right: 120px;
  }
  .right .text {
    margin-top: 0px;
  }
  .right .location {
    margin-bottom: 10px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddf0f5;
    border-radius: 20px;
    width: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #365b7d;
    width: 10px;
    border-radius: 20px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f3b5b;
    border-radius: 20px;
    width: 10px;
  }


}

















.invisible{
  display: none;
}
.sunny{
  margin-top: -15px;
  display: none;
  width: 20%;
}
.sunny-visible{
  display: block;
}
.rainy{
  display: none;
}
.rainy-visible{
  display:block;
}
.laod-left{
  display: flex;
  width: 10%;
  margin: auto;
  display: none;
}
.load-left-visible{
  display: block;
}
.invisible-left{
  display: none;
}